@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "Gilroy-Medium";
    src: url(../Font/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url(../Font/Gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(../Font/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url(../Font/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: "Gilroy-Black";
    src: url(../Font/Gilroy/Gilroy-Black.ttf);
}


.container {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
}

body {
    background: #F5F6F7;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}

/* HEADER */

.header-info {
    background-color: #0C2D6C;
    display: flex;
    justify-content: center;
}

.header-info p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #EBEBEB;
}

.header-Infowraper {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding: 22px 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 52px;
}

.header-location a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-call a {
    display: flex;
    align-items: center;
    gap: 12px;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.selected-language {
    cursor: pointer;
    display: flex;
}
#instagram  {
    display: flex;
}
.header-Infowraper a svg path {
    transition: 0.4s;
}

.header-Infowraper a p {
    transition: 0.4s;
}

.header-location a:hover>svg path {
    fill: #099ed0
}

.header-location a:hover>p {
    color: #099ed0
}

.header-call a:hover>svg path {
    fill: #099ed0
}

.header-call a:hover>p {
    color: #099ed0
}

.header-right a:hover>svg path {
    fill: #099ed0
}
@media (max-width: 1024px) {
    .header-location {
        display: none;
    }
    .header-left {
        gap: 0
    }
}
@media (max-width: 800px) {
    .header-call svg {
        width: 16px;
    }
    .header-call p{
        font-size: 16px;
    }
    .header-right svg{
        width: 24px;
    }
}


/* NAVIGATION */



.nav-wraper {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding: 36px 0;
    margin: auto;
    align-items: center;
}

.nav-wraper ul {
    display: flex;
    gap: 26px;
}

.nav-wraper ul li a {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #061A40;
}

.navButton-inMenu {
    display: none;
}

.fa-bars {
    display: none;
    width: 24px;
    height: 24px;
}

.navButton button {
    cursor: pointer;
    background: #039ED6;
    border-radius: 48px;
    padding: 16px 40px;

    font-family: 'Gilroy-Medium';
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

    transition: 1s;
}

.navButton button:hover {
    background-color: #FFFFFF;
    border: 1px solid #039ED6;

    color: #039ED6;
}

.fa-xmark {
    display: none;
}

@media(max-width: 1265px) {
    .nav-wraper ul {
        display: flex;
        gap: 20px;
    }

    .nav-wraper ul li a {
        font-size: 16px;
    }

    .navButton button {
        padding: 12px 32px;
        font-size: 16px;
    }
}


@media (max-width: 1024px) {
    /* NAV */
    .ul-newsli {
        display: flex;
    }
    .navButton-inMenu {
        display: flex;
        position: absolute;
        top: 400px;
        right: 0;
        
    }
    .navButton-inMenu button {
        cursor: pointer;
        background: #0C2D6C;
        border-radius: 10px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        color: #FFFFFF;
        padding: 16px 20px;
        margin: 0 16px;

        background-size: 300% 100%;

        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    .navButton-inMenu button:hover {
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        background-image: linear-gradient(to right, #0b285e, #1a4fb3, #0b285e, #1a4fb3);
        box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    }
    
    .navButton-inMenu button:focus {
        outline: none;
    }

    .navButton {
        display: none;
    }
     


    .nav-links {
        position: absolute;
        background-color: #039ED6;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 10;
    }

    .nav-links ul li {
        display: block;
        padding-left: 6px;
        flex-direction: column;
        gap: 2px;
        width: 100%;
        padding: 10px 15px;
        text-align: right;

    }

    .nav-links ul li a {
        font-weight: 600;
        transition: all 0.5s ease-in;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 110px;
        right: 5px;
    }
    .nav-links ul li a:hover {
        padding-right: 45px
    }

    .fa-solid {
        display: block;
        cursor: pointer;
        width: 20px;
    }

    .fa-xmark {
        position: absolute;
        top: 50px;
        left: 20px;
    }

    .nav-links>svg path {
        fill: #FFFFFF
    }

    .nav-links {
        transition: 1s;
    }
}

@media (max-width: 620px) {
    .nav-wraper img {
        width: 56px;
    }
}
@media (max-width: 560px) {
    .nav-wraper img {
        width: 48px;
    }
    .nav-wraper svg {
        width: 16px;
    }
}

/* 1 SLIDER */

.slider {
    width: 100%;
    display: flex;
}

.slide {
    background: url(../image-landing/Slider-1/Slide-img.png), rgba(0, 0, 0, 0.16);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 120px 0 120px 224px;
}

.slider-navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.slide:nth-child(2) {
    background: url(../image-landing/Slider-1/Slide-2.png), rgba(0, 0, 0, 0.16);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 120px 0 120px 224px;
}

.slick-dots {
    display: flex !important;
    gap: 15px;

    position: absolute;
    left: 50%;
    bottom: 40px;
}




.slick-arrow {
    background: rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    width: 84px;
    height: 84px;
    position: absolute;
    z-index: 2;
    top: 50%;
    color: transparent;

    background: url(../image-landing/Slider-1/Vector.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -42px;
    cursor: pointer;
}

.slick-next {
    right: 40px;
}

.slick-prev {
    left: 40px;
    transform: rotate(180deg);
}


.slick-dots button {
    border: 2px solid #099ed0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transition: 0.4s;
}

.slick-dots .slick-active button {
    background-color: #039ED6;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.slick-dots button {
    color: transparent;
    cursor: pointer;
}


.textSlider {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.textSlider h2 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;

    color: #EFEFEF;
}

.slidebuttons-div {
    display: flex;
    gap: 15px;
}

.skyblue-button {
    cursor: pointer;
    background: #039ED6;
    border-radius: 12px;
    padding: 20px 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

    background-size: 300% 100%;

    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.skyblue-button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.skyblue-button:focus {
    outline: none;
}

/* --------------- */


.darkblue-button {
    cursor: pointer;
    background: #0C2D6C;
    border-radius: 12px;
    padding: 20px 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

    background-size: 300% 100%;

    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.darkblue-button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #0b285e, #1a4fb3, #0b285e, #1a4fb3);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.darkblue-button:focus {
    outline: none;
}

.slider-navigation svg circle {
    cursor: pointer;
}

.slider-navigation svg circle:hover {
    fill: #039ED6;
}

@media (max-width: 1280px) {
    .darkblue-button {
        padding: 16px 36px;
        font-size: 16px;
    }

    .skyblue-button {
        padding: 16px 36px;
        font-size: 16px;
    }

    .textSlider {
        gap: 48px;
    }

    .textSlider h2 {
        font-size: 40px;
        line-height: 52px;
    }

    .slick-arrow {
        width: 64px;
        height: 64px;
    }

    .slick-next {
        right: 20px;
    }

    .slick-prev {
        left: 20px;
    }

    .slide:nth-child(1) {
        padding: 120px 0 120px 144px;
    }

    .slide:nth-child(2) {

        padding: 120px 0 120px 144px;
    }
}

@media (max-width: 750px) {
    .slide:nth-child(1) {
        padding: 120px 0 120px 116px;
    }

    .slide:nth-child(2) {

        padding: 120px 0 120px 116px;
    }

    .textSlider {
        gap: 50px;
    }

    .textSlider h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .darkblue-button {
        padding: 16px 52px;
        font-size: 16px;
    }

    .skyblue-button {
        padding: 16px 52px;
        font-size: 16px;
    }
    .slidebuttons-div {
        gap: 10px;
    }
}

@media (max-width: 620px) {
    
    .slide:nth-child(1) {
        padding: 120px 0 120px 96px;
    }

    .slide:nth-child(2) {

        padding: 120px 0 120px 96px;
    }

    .slick-arrow {
        width: 44px;
        height: 44px;
    }

    .slick-next {
        right: 15px;
        top: 55%;
    }

    .slick-prev {
        left: 15px;
        top: 55%;
    }
    .textSlider {
        gap: 50px;
        margin: auto;
    }

    .textSlider h2 {
        font-size: 28px;
        line-height: 36px;
    }

    .darkblue-button {
        padding: 16px 48px;
        font-size: 16px;
    }

    .skyblue-button {
        padding: 16px 48px;
        font-size: 16px;
    }
    

}
@media (max-width: 560px) {
    .slide:nth-child(1) {
        padding: 45px 0 35px 68px;
    }

    .slide:nth-child(2) {
        padding: 45px 0 35px 68px;
    }
    .slick-dots {
        bottom: 15px;
    }
    .slick-dots button {
        width: 12px;
        height: 12px;
    }
    .slick-arrow {
        top: 60%;
    }
    .textSlider {
        gap: 40px;
    }
    .textSlider h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .darkblue-button {
        font-size: 12px;
        padding: 12px 32px;
    }
    .skyblue-button {
        font-size: 12px;
        padding: 12px 32px;
    }
    .slidebuttons-div {
        gap: 5px;
        margin-bottom: 15px;
    }
}
@media (max-width: 420px) {
    .slide:nth-child(1) {
        padding: 45px 0 35px 68px;
    }

    .slide:nth-child(2) {
        padding: 45px 0 35px 68px;
    }
    .slick-arrow {
        width: 36px;
        height: 36px;

    }
}
@media(max-width: 400px) {
    .slide:nth-child(1) {
        padding: 45px 0 35px 56px;
    }

    .slide:nth-child(2) {
        padding: 45px 0 35px 56px;
    }
}


/* NEWS SECTION */


.centers-section {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 185px 0;
}

.centers-section h2 {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #0D285B;
    text-align: center;
}

.centersMain-div {
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: center;

}

.centersMain-div a {
    width: 100%;
}

.centers-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    border-radius: 20px 20px 4px 4px;
    box-shadow: 0px -16px 35px -4px rgba(0, 0, 0, 0.2);

}

.centers-div img {
    width: 100%;
    border-radius: 20px 20px 0 0;

}

.centers-div div {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.centers-div p {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: auto;

    color: #0C2D6C;
}


.centersMain-div .centers-div:hover {
    transform: scale(1.1);

}
@media (max-width: 1024px) {
    .centers-section p {
        font-size: 16px;
    }
}
@media (max-width: 800px) {
    .centers-section h2 {
        font-size: 36px;
    }
    .centers-section p {
        font-size: 28px;
    }

    .centersMain-div {
        flex-direction: column;
        margin: auto;
        gap: 60px;
    }

    .centers-div {
        width: 80%;
        margin: auto;
    }

    .centers-div img {
        width: 100%;
    }
}


/* NEWS SECTION */

.news-slider {
    display: flex;
    width: 100%;
}

.news-slider img {
    border-radius: 20px 20px 0 0;
}

.news-slider ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.news-slider ul {
    position: absolute;
    left: 50%;
    bottom: 0;
    border: none;
    align-items: center;
    transform: translate(-50%, 0);
}

.news-section .slick-track {
    display: flex;
    padding: 80px 0;
}

.news-slider ul li {
    border: none;
    display: flex;
    align-items: center;
}

.news-slider ul li button {
    border: none;
    border-radius: 5px;
    border: 1px solid #039ED6;
    height: 6px;
    transition: all 0.3s ease-in;
}

.news-slider .slick-active button {
    width: 32px;
    height: 8px;
    border: none;
    background-color: #039ED6;
    border-radius: 5px;

}


.news-section h2 {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #0D285B;
    text-align: center;

}

.news-slider a {
    margin: 0 12px;
    transition: 0.5s;
}

.news-slide img {
    width: 100%;
    transition: 0.5s;
}

.news-slider a:hover {
    transform: scale(1.02);
}

.news-slide:hover img {
    border-radius: 15px 15px 0 0;
}


.news-textdiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 16px;
}

.news-textdiv h4 {
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 24px;
    color: #0C2D6C;
}

.news-textdiv span {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    color: #039ED6;
}

.news-textdiv p {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 20px;

    color: #757575;
}

@media (max-width: 800px) {
    .news-section h2 {
        font-size: 44px;

    }
}

@media (max-width: 700px) {


    .news-slider a {
        margin: 0 8px;

    }

    .news-slider ul li button {
        width: 12px;
        height: 6px;
    }

    .news-slider .slick-active button {
        width: 20px;
        height: 8px;
        border: none;
        background-color: #039ED6;
        border-radius: 5px;

    }

    .news-textdiv {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 16px 12px;
    }

    .news-textdiv h4 {
        font-family: 'Gilroy-Medium';
        font-size: 12px;
        line-height: 16px;
        color: #0C2D6C;
    }

    .news-textdiv span {
        font-family: 'Gilroy-Regular';
        font-size: 12px;
        color: #039ED6;
    }

    .news-textdiv p {
        font-family: 'Gilroy-Regular';
        font-size: 12px;
        line-height: 16px;

        color: #757575;
    }

}

/* FEEDBACK */

.feedback-section {
    width: 100%;
    background-color: #062126;
    padding: 52px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    margin: 200px 0;
}

.feedback-section div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.feedback-section h2 {
    font-family: 'Gilroy-Black';
    font-size: 76px;
    color: #FFFFFF;

}

.feedback-section p {
    font-family: 'Gilroy-SemiBold';
    font-size: 32px;
    text-align: center;
    color: #12CBF3;
}

.feedback-line {
    border: 1px solid rgba(18, 203, 243, 0.2);
    height: 221px;
}

@media (max-width: 1160px) {
    .feedback-section {
        gap: 34px;
    }

    .feedback-section div {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }

    .feedback-section h2 {
        font-family: 'Gilroy-Black';
        font-size: 56px;
        color: #FFFFFF;

    }

    .feedback-section p {
        font-family: 'Gilroy-SemiBold';
        font-size: 22px;
        text-align: center;
        color: #12CBF3;
    }

    .feedback-line {
        border: 1px solid rgba(18, 203, 243, 0.2);
        height: 150px;
    }
}

@media (max-width: 800px) {
    .feedback-section {
        flex-direction: column;
        gap: 34px;
    }

    .feedback-line {
        border: 1px solid rgba(18, 203, 243, 0.2);
        height: 2px;
        width: 200px;
    }
}


/* CHECK-UP SECTION */


.checkUp-section {
    background: url(../image-landing/Checkup-section/background-image.png);
    width: 95%;
    padding: 124px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 224px auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
}


.checkUp-section h2 {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #039ED6;
    max-width: 1000px;
}

.checkUp-section button {
    cursor: pointer;
    border: 3px solid #039ED6;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 20px 56px;

    display: flex;
    gap: 20px;
    align-items: center;

    font-family: 'Gilroy-Medium';
    font-size: 20px;
    color: #FFFFFF;

    transition: 0.4s ease-out;
}

@media (max-width: 1200px) {

    .checkUp-section br {
        display: none;

    }
}

@media (max-width: 800px) {

    .checkUp-section {
        background: url(../image-landing/Checkup-section/background-image1.png);
        width: 90%;
        padding: 20%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 224px auto;
    }

    .checkUp-section h2 {
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    }
    .checkUp-section a {
        display: flex;
        justify-content: center;
    }
    .checkUp-section button {
        padding: 16px 48px;
        gap: 16px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .checkUp-section {

        padding: 20% 60px 20% 60px;

        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .checkUp-section h2 {
        font-size: 24px;
        line-height: 32px;
        max-width: none;
        margin-top: 50px;
    }

    .checkUp-section button {

        padding: 16px 44px;
        gap: 16px;
        font-size: 16px;
    }
}
@media (max-width: 580px) {
    .checkUp-section {

        padding: 10% 60px 10% 60px;

        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .checkUp-section h2 {
        font-size: 20px;
        line-height: 28px;
        max-width: none;
    }

    .checkUp-section button {

        padding: 12px 36px;
        gap: 8px;
        font-size: 12px;
    }
    .checkUp-section svg {
        width: 16px;
    }
}
@media (max-width: 480px) {
    .checkUp-section button {
        padding: 8px 28px;
        gap: 8px;
        font-size: 10.4px;
        margin-bottom: 15px;
    }

}
@media (max-width: 400px) {
    .checkUp-section {

        padding: 10% 40px 10% 60px;

        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .checkUp-section h2 {
        font-size: 16px;
        line-height: 24px;
    }

    .checkUp-section svg {
        width: 16px;
    }
}

.checkUp-section button:hover,
.checkUp-section button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #039ED6;
    transform: translateY(-0.25em);
}



/* FOOTER */


footer {
    background-color: #061A40;
}

.footer-mainWraper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 60px 0;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 68px;
}

.logo-name {
    display: flex;
    gap: 24px;
    align-items: center;
}

.logo-name span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    
    display: flex;
    align-items: center;
    gap: 12px;
    padding-right: 12px;
}


.logo-name p {
    display: flex;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-locationAndcall {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.footer-location a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-location p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #EBEBEB;
}


.footer-call p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #EBEBEB;
}

.footer-call a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-social {
    display: flex;
    gap: 24px;
}

.footer-location {
    display: flex;
}

.footer-call {
    display: flex;
}

.footer-contact a {
    display: flex;
}


.footer-left a svg path {
    transition: 0.4s;
}

.footer-left a p {
    transition: 0.4s;
}

.footer-location a:hover>svg path {
    fill: #099ed0
}

.footer-location a:hover>p {
    color: #099ed0
}

.footer-call a:hover>svg path {
    fill: #099ed0
}

.footer-call a:hover>p {
    color: #099ed0
}


/* FOOTER RIGHT */

.footer-right {
    display: flex;
    gap: 56px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.footer-right h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}

.footer-right ul {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.footer-right ul li a {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.4s;
}

/* COPYRIGHT  */
.copyright-footer {
    display: flex;
    background-color: #04122E;
    width: 100%;
    padding: 22px 0;
    gap: 12px;
    justify-content: center;
    align-items: center;

}
.copyright-footer p {
    font-family: 'Gilmer-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);

}


@media (max-width: 1160px) {
    .footer-left {
        gap: 68px;
    }

    .logo-name {
        gap: 24px;
        text-align: center;
        line-height: 25px;
    }

    .logo-name span {
        font-size: 16px;
        word-spacing: 8px;
    }

    .logo-name p {
        font-size: 16px;
    }

    .logo-name img {
        width: 64px;
    }

    .footer-contact {
        gap: 36px;
    }

    .footer-locationAndcall {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .footer-location svg {
        width: 28px;
    }

    .footer-call svg {
        width: 16px;
    }

    .footer-location a {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .footer-location p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #EBEBEB;
    }


    .footer-call p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #EBEBEB;
    }

    .footer-call a {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .footer-social {
        gap: 12px;
    }

    .footer-social svg {
        width: 36px;
    }

    .footer-right {
        display: flex;
        gap: 36px;
    }

    .footer-nav {
        gap: 20px;
    }

    .footer-right h2 {
        font-size: 20px;
    }

    .footer-right ul {
        gap: 8px
    }

    .footer-right ul li a {
        font-size: 16px;
    }

    .copyright-footer {
        gap: 8px;       
    }
    .copyright-footer p {
        font-size: 16px;   
    }
}

@media (max-width:900px) {
    .logo-name {
        flex-direction: column;
    }
    .footer-mainWraper {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .footer-location {
        display: flex;
        justify-content: center;
    }

    .footer-call {
        display: flex;
        justify-content: center;
    }

    .footer-social {
        display: flex;
        justify-content: center
    }
}