/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: none;
    list-style: none;
    border: none;
    text-decoration: none;
}

@font-face {
    font-family: "Inter";
    src: url(../Font/Inter/static/Inter-Medium.ttf);
}

@font-face {
    font-family: "Gilroy-Black";
    src: url(../Font/Gilroy/Gilroy-Black.ttf);
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(../Font/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url(../Font/Gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(../Font/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url(../Font/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: "Gilroy-Light";
    src: url(../Font/Gilroy/Gilroy-Light.ttf);
}


.container {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
}

body {
    background: #F5F6F7;
    overflow-x: hidden;
    position: relative;
}
html {
    overflow-x: hidden;
}

/* HEADER */

.header-info {
    background-color: #0C2D6C;
    display: flex;
    justify-content: center;
}

.header-info p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #EBEBEB;
}

.header-Infowraper {
    display: flex;
    max-width: 1600px;
    width: 85%;
    justify-content: space-between;
    padding: 22px 0;
    margin: auto;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 52px;
}

.header-location a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-call a {
    display: flex;
    align-items: center;
    gap: 12px;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lang-menu {
    display: flex;
    text-align: right;
    font-weight: bold;
    position: relative;
}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-between;
    cursor: pointer;
}
.lang-menu .selected-lang a {
    font-family: "Gilroy-Bold";
    color: #EBEBEB;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 100%;
    right: 0%;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang-menu ul li a {
    font-family: "Gilroy-SemiBold";
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu img{
    width: 32px;
    height: 32px;
}

.lang-menu:hover ul {
    display: block;
}

#instagram  {
    display: flex;
}
.header-Infowraper a svg path {
    transition: 0.4s;
}

.header-Infowraper a p {
    transition: 0.4s;
}

.header-location a:hover>svg path {
    fill: #099ed0
}

.header-location a:hover>p {
    color: #099ed0
}

.header-call a:hover>svg path {
    fill: #099ed0
}

.header-call a:hover>p {
    color: #099ed0
}

.header-right a:hover>svg path {
    fill: #099ed0
}
@media (max-width: 1024px) {
    .header-location {
        display: none;
    }
    .header-left {
        gap: 0
    }
}
@media (max-width: 800px) {
    .header-call svg {
        width: 16px;
    }
    .header-call p{
        font-size: 15px;
    }
    .header-right svg{
        width: 24px;
    }
}


/* NAVIGATION */



.nav-wraper {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding: 36px 0;
    margin: auto;
    align-items: center;
}

.nav-wraper ul {
    display: flex;
    gap: 26px;
}

.nav-wraper ul li a {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 43, 100, 0.8);
    transition: all 0.4s ease-in;
}

.nav-links ul li a:hover {
    color: rgba(14, 43, 100, 1);
}

.navButton-inMenu {
    display: none;
}

.fa-bars {
    display: none;
    width: 24px;
    height: 24px;
    fill: #039ED6;
}

.navButton button {
    cursor: pointer;
    background: #039ED6;
    border-radius: 48px;
    padding: 16px 40px;

    font-family: 'Gilroy-Medium';
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

    transition: 1s;
}

.navButton button:hover {
    background-color: #FFFFFF;
    border: 1px solid #039ED6;

    color: #039ED6;
}

.fa-xmark {
    display: none;
}
.ul-newsli {
    display: none;
}

@media(max-width: 1265px) {
    .nav-wraper ul {
        display: flex;
        gap: 20px;
    }

    .nav-wraper ul li a {
        font-size: 16px;
    }
    
    .nav-wraper ul li a:hover {
        font-size: 17px; 
    }

    .navButton button {
        padding: 12px 32px;
        font-size: 16px;
    }
}


@media (max-width: 1024px) {
    /* NAV */
    .ul-newsli {
        display: flex;
    }
    .navButton-inMenu {
        display: flex;
        position: absolute;
        top: 400px;
        right: 0;
        
    }

    .navButton {
        display: none;
    }
     


    .nav-links {
        position: absolute;
        background-color: #039ED6;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 100;
    }

    .nav-links ul li {
        display: block;
        padding-left: 6px;
        flex-direction: column;
        gap: 2px;
        width: 100%;
        padding: 10px 15px;
        text-align: right;

    }

    .nav-links ul li a {
        font-weight: 500;
        color: #F5F6F7;
        transition: all 0.5s ease-in;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 110px;
        right: 5px;
    }
    .nav-links ul li a:hover {
        padding-right: 45px;
        color: #F5F6F7;
    }
    

    .fa-solid {
        display: block;
        cursor: pointer;
        width: 20px;
    }

    .fa-xmark {
        position: absolute;
        top: 50px;
        left: 20px;
    }

    .nav-links>svg path {
        fill: #FFFFFF
    }

    .nav-links {
        transition: 1s;
    }
}

@media (max-width: 620px) {
    .nav-wraper img {
        width: 56px;
    }
}
@media (max-width: 560px) {
    .nav-wraper img {
        width: 48px;
    }
    .nav-wraper svg {
        width: 16px;
    }
}

/* 1 SLIDER */

.slider {
    width: 100%;
    display: flex;
}

.slide {
    background: url(../image-landing/Slider-1/Slide-img.png), rgba(0, 0, 0, 0.16);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 120px 0 120px 224px;
}

.slider-navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.slide:nth-child(2) {
    background: url(../image-landing/Slider-1/Slide-2.png), rgba(0, 0, 0, 0.16);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 120px 0 120px 224px;
}

.slick-dots {
    display: flex !important;
    gap: 15px;

    position: absolute;
    left: 50%;
    bottom: 40px;
}




.slick-arrow {
    background: rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    width: 84px;
    height: 84px;
    position: absolute;
    z-index: 2;
    top: 50%;
    color: transparent;

    background: url(../image-landing/Slider-1/Vector.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -42px;
    cursor: pointer;
}

.slick-next {
    right: 40px;
}

.slick-prev {
    left: 40px;
    transform: rotate(180deg);
}


.slick-dots button {
    border: 2px solid #099ed0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transition: 0.4s;
}

.slick-dots .slick-active button {
    background-color: #039ED6;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.slick-dots button {
    color: transparent;
    cursor: pointer;
}


.textSlider {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.textSlider h2 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;

    color: #EFEFEF;
}

.slidebuttons-div {
    display: flex;
    gap: 15px;
}

.skyblue-button {
    cursor: pointer;
    background: #039ED6;
    border-radius: 12px;
    padding: 20px 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

    background-size: 300% 100%;

    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.skyblue-button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.skyblue-button:focus {
    outline: none;
}

/* --------------- */


.darkblue-button {
    cursor: pointer;
    background: #0C2D6C;
    border-radius: 12px;
    padding: 20px 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

    background-size: 300% 100%;

    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.darkblue-button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #0b285e, #1a4fb3, #0b285e, #1a4fb3);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.darkblue-button:focus {
    outline: none;
}

.slider-navigation svg circle {
    cursor: pointer;
}

.slider-navigation svg circle:hover {
    fill: #039ED6;
}

@media (max-width: 1280px) {
    .darkblue-button {
        padding: 16px 36px;
        font-size: 16px;
    }

    .skyblue-button {
        padding: 16px 36px;
        font-size: 16px;
    }

    .textSlider {
        gap: 48px;
    }

    .textSlider h2 {
        font-size: 40px;
        line-height: 52px;
    }

    .slick-arrow {
        width: 64px;
        height: 64px;
    }

    .slick-next {
        right: 20px;
    }

    .slick-prev {
        left: 20px;
    }

    .slide:nth-child(1) {
        padding: 120px 0 120px 144px;
    }

    .slide:nth-child(2) {

        padding: 120px 0 120px 144px;
    }
}

@media (max-width: 750px) {
    .slide:nth-child(1) {
        padding: 120px 0 120px 116px;
    }

    .slide:nth-child(2) {

        padding: 120px 0 120px 116px;
    }

    .textSlider {
        gap: 50px;
    }

    .textSlider h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .darkblue-button {
        padding: 16px 52px;
        font-size: 16px;
    }

    .skyblue-button {
        padding: 16px 52px;
        font-size: 16px;
    }
    .slidebuttons-div {
        gap: 10px;
    }
}

@media (max-width: 620px) {
    
    .slide:nth-child(1) {
        padding: 120px 0 120px 96px;
    }

    .slide:nth-child(2) {

        padding: 120px 0 120px 96px;
    }

    .slick-arrow {
        width: 44px;
        height: 44px;
    }

    .slick-next {
        right: 15px;
        top: 55%;
    }

    .slick-prev {
        left: 15px;
        top: 55%;
    }
    .textSlider {
        gap: 50px;
        margin: auto;
    }

    .textSlider h2 {
        font-size: 28px;
        line-height: 36px;
    }

    .darkblue-button {
        padding: 16px 48px;
        font-size: 16px;
    }

    .skyblue-button {
        padding: 16px 48px;
        font-size: 16px;
    } 
}

@media (max-width: 560px) {
    .slide:nth-child(1) {
        padding: 45px 0 35px 68px;
    }

    .slide:nth-child(2) {
        padding: 45px 0 35px 68px;
    }
    .slick-dots {
        bottom: 15px;
    }
    .slick-dots button {
        width: 12px;
        height: 12px;
    }
    .slick-arrow {
        top: 60%;
    }
    .textSlider {
        gap: 40px;
    }
    .textSlider h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .darkblue-button {
        font-size: 12px;
        padding: 12px 32px;
    }
    .skyblue-button {
        font-size: 12px;
        padding: 12px 32px;
    }
    .slidebuttons-div {
        gap: 5px;
        margin-bottom: 15px;
    }
}
@media (max-width: 420px) {
    .slide:nth-child(1) {
        padding: 45px 0 35px 68px;
    }

    .slide:nth-child(2) {
        padding: 45px 0 35px 68px;
    }
    .slick-arrow {
        width: 36px;
        height: 36px;

    }
}
@media(max-width: 400px) {
    .slide:nth-child(1) {
        padding: 45px 0 35px 56px;
    }

    .slide:nth-child(2) {
        padding: 45px 0 35px 56px;
    }
}


/* NEWS SECTION */


.centers-section {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 185px 0;
}

.centers-section h2 {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #0D285B;
    text-align: center;
}

.centersMain-div {
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: center;

}

.centersMain-div a {
    width: 100%;
}

.centers-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    border-radius: 20px 20px 4px 4px;
    box-shadow: 0px -16px 35px -4px rgba(0, 0, 0, 0.2);

}

.centers-div img {
    width: 100%;
    border-radius: 20px 20px 0 0;

}

.centers-div div {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.centers-div p {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: auto;

    color: #0C2D6C;
}


.centersMain-div .centers-div:hover {
    transform: scale(1.1);

}
@media (max-width: 1024px) {
    .centers-section p {
        font-size: 16px;
    }
}
@media (max-width: 800px) {
    .centers-section h2 {
        font-size: 36px;
    }
    .centers-section p {
        font-size: 28px;
    }

    .centersMain-div {
        flex-direction: column;
        margin: auto;
        gap: 60px;
    }

    .centers-div {
        width: 80%;
        margin: auto;
    }

    .centers-div img {
        width: 100%;
    }
}


/* NEWS SECTION */

.news-slider {
    display: flex;
    width: 100%;
}

.news-slider img {
    border-radius: 20px 20px 0 0;
}

.news-slider ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.news-slider ul {
    position: absolute;
    left: 50%;
    bottom: 0;
    border: none;
    align-items: center;
    transform: translate(-50%, 0);
}

.news-section .slick-track {
    display: flex;
    padding: 80px 0;
}

.news-slider ul li {
    border: none;
    display: flex;
    align-items: center;
}

.news-slider ul li button {
    border: none;
    border-radius: 5px;
    border: 1px solid #039ED6;
    height: 6px;
    transition: all 0.3s ease-in;
}

.news-slider .slick-active button {
    width: 32px;
    height: 8px;
    border: none;
    background-color: #039ED6;
    border-radius: 5px;

}


.news-section h2 {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #0D285B;
    text-align: center;

}

.news-slider a {
    margin: 0 12px;
    transition: 0.5s;
}

.news-slide img {
    width: 100%;
    transition: 0.5s;
}

.news-slider a:hover {
    transform: scale(1.02);
}

.news-slide:hover img {
    border-radius: 15px 15px 0 0;
}


.news-textdiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 16px;
}

.news-textdiv h4 {
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 24px;
    color: #0C2D6C;
}

.news-textdiv span {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    color: #039ED6;
}

.news-textdiv p {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 20px;

    color: #757575;
}

@media (max-width: 800px) {
    .news-section h2 {
        font-size: 44px;

    }
}

@media (max-width: 700px) {


    .news-slider a {
        margin: 0 8px;

    }

    .news-slider ul li button {
        width: 12px;
        height: 6px;
    }

    .news-slider .slick-active button {
        width: 20px;
        height: 8px;
        border: none;
        background-color: #039ED6;
        border-radius: 5px;

    }

    .news-textdiv {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 16px 12px;
    }

    .news-textdiv h4 {
        font-family: 'Gilroy-Medium';
        font-size: 12px;
        line-height: 16px;
        color: #0C2D6C;
    }

    .news-textdiv span {
        font-family: 'Gilroy-Regular';
        font-size: 12px;
        color: #039ED6;
    }

    .news-textdiv p {
        font-family: 'Gilroy-Regular';
        font-size: 12px;
        line-height: 16px;

        color: #757575;
    }

}

/* FEEDBACK */

.feedback-section {
    width: 100%;
    background-color: #062126;
    padding: 52px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    margin: 200px 0;
}

.feedback-section div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.feedback-section h2 {
    font-family: 'Gilroy-Black';
    font-size: 76px;
    color: #FFFFFF;

}

.feedback-section p {
    font-family: 'Gilroy-SemiBold';
    font-size: 32px;
    text-align: center;
    color: #12CBF3;
}

.feedback-line {
    border: 1px solid rgba(18, 203, 243, 0.2);
    height: 221px;
}

@media (max-width: 1160px) {
    .feedback-section {
        gap: 34px;
    }

    .feedback-section div {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }

    .feedback-section h2 {
        font-family: 'Gilroy-Black';
        font-size: 56px;
        color: #FFFFFF;

    }

    .feedback-section p {
        font-family: 'Gilroy-SemiBold';
        font-size: 22px;
        text-align: center;
        color: #12CBF3;
    }

    .feedback-line {
        border: 1px solid rgba(18, 203, 243, 0.2);
        height: 150px;
    }
}

@media (max-width: 800px) {
    .feedback-section {
        flex-direction: column;
        gap: 34px;
    }

    .feedback-section h2 {
        font-family: 'Gilroy-Black';
        font-size: 48px;
        color: #FFFFFF;

    }

    .feedback-section p {
        font-family: 'Gilroy-SemiBold';
        font-size: 20px;
        text-align: center;
        color: #12CBF3;
    }

    .feedback-line {
        border: 1px solid rgba(18, 203, 243, 0.2);
        height: 2px;
        width: 200px;
    }
}


/* CHECK-UP SECTION */


.checkUp-section {
    background: url(../image-landing/Checkup-section/background-image.png);
    width: 95%;
    padding: 124px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 224px auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
}


.checkUp-section h2 {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #039ED6;
    max-width: 1000px;
}

.checkUp-section button {
    cursor: pointer;
    border: 3px solid #039ED6;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 20px 56px;

    display: flex;
    gap: 20px;
    align-items: center;

    font-family: 'Gilroy-Medium';
    font-size: 20px;
    color: #FFFFFF;

    transition: 0.4s ease-out;
}

@media (max-width: 1200px) {

    .checkUp-section br {
        display: none;

    }
}

@media (max-width: 800px) {

    .checkUp-section {
        background: url(../image-landing/Checkup-section/background-image1.png);
        width: 100%;
        padding: 20%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 224px auto;
    }

    .checkUp-section h2 {
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    }
    .checkUp-section a {
        display: flex;
        justify-content: center;
    }
    .checkUp-section button {
        padding: 16px 48px;
        gap: 16px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .checkUp-section {

        padding: 20% 60px 20% 60px;

        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .checkUp-section h2 {
        font-size: 24px;
        line-height: 32px;
        max-width: none;
        margin-top: 50px;
    }

    .checkUp-section button {

        padding: 16px 44px;
        gap: 16px;
        font-size: 16px;
    }
}
@media (max-width: 580px) {
    .checkUp-section {

        padding: 10% 40px;

        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .checkUp-section h2 {
        font-size: 24px;
        line-height: 32px;
        max-width: none;
    }

    .checkUp-section button {

        padding: 12px 36px;
        gap: 8px;
        font-size: 12px;
    }
    .checkUp-section svg {
        width: 16px;
    }
}
@media (max-width: 480px) {
    .checkUp-section button {
        padding: 8px 28px;
        gap: 8px;
        font-size: 10.4px;
        margin-bottom: 15px;
    }

}
@media (max-width: 400px) {
    .checkUp-section {

        padding: 10% 40px 10% 60px;

        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .checkUp-section h2 {
        font-size: 16px;
        line-height: 24px;
    }

    .checkUp-section svg {
        width: 16px;
    }
}

.checkUp-section button:hover,
.checkUp-section button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #039ED6;
    transform: translateY(-0.25em);
}

/* ABOUT-US */

.aboutUsMain-wraper {
    width: 85%;
    margin: 52px auto 160px auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.aboutUstitle h2 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #0D285B;
}
.aboutUstext-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.aboutUstext-box p{
    font-family: 'Gilroy-Regular';
    font-size: 20px;
    line-height: 23px;
    color: #0D285B;
}
.aboutUstext-box span {
    font-family: 'Gilroy-Bold';
    font-weight: 700;
    color: #0D285B;
    padding-right: 6px;
    word-spacing: normal;

}
.aboutUstext-box ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.aboutUstext-box ul li {
    display: flex;
    align-items: center;
    gap: 12px;
}
.aboutUstext-box ul li h5 {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #0D285B;
}

/* DEPARTMENTS */

.departmentsMain-wraper {
    width: 85%;
    margin: 108px auto 163px auto;
    display: flex;
    flex-direction: column;
    gap: 128px;
}

.departmentstitle-search {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.departmentstitle h2 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #0D285B;
}

.search-department {
    width: 100%;
    max-width: 442px;
    background: #EAEFF4;
    border: 2px solid #039ED6;
    border-radius: 36px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-department input {
    width: 100%;
    padding: 20px;
    width: 100%;
    border: none;

    font-family: 'Gilroy-Light';
    font-size: 20px;
    color: rgba(58, 83, 129, 0.8);
}

.search-department input:focus {
    width: 100%;
    border: none;
    outline: none;
}
.departmentsbutton {
    padding: 0 20px;
}

.departmentsbutton button {
    cursor: pointer;
}

.search-department input::placeholder {
    font-family: 'Gilroy-Light';
    font-size: 20px;
    color: rgba(58, 83, 129, 0.8);

}

.departments {
    display: flex;
    justify-content: space-between;
}

.departments-list1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.departments-list2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.departmentsmain-list {
    display: flex;
    flex-direction: column;
}

.departmentslist {
    padding: 24px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #0D285B;
    transition: 0.3s;
}

.departmentslist p {
    font-family: 'Gilroy-Medium';
    font-size: 28px;
    color: #0D285B;
}



.departmentsline {
    width: 100%;
    border: 2px solid #0D285B;
}
.departments a{
  transition: 0.4s;
}
.departments a:hover {
  box-shadow: inset 0 -5.25em 0 0 #0D285B;
}

.departments a:hover p{
  color: #EBEBEB;
}
.departments a:hover svg path{
    fill: #EBEBEB;
}

@media (max-width:1024px) {
    .search-department input::placeholder {
        font-size: 16px;
    }
    .search-department input {
        padding: 16px;
        font-size: 16px;
    }
    .search-department svg{
        width: 20px;
    }
    .departments {
        flex-direction: column;
        gap: 40px;
    }
    .departments-list1 {
        width: 100%;
    }
    .departments-list2 {
        width: 100%;
    }

    .departmentslist {
        padding: 20px 12px;
    }
    
    .departmentslist p {
        font-size: 24px;
    }
    .departmentslist svg{
        width: 20px;
    }
    

}

@media (max-width:900px) {
    .departmentstitle-search {
        flex-direction: column;
        gap: 40px;
    }
    .search-department {
        max-width: none;
    }
}

@media (max-width:900px) {
    .departmentstitle h2 {
        font-size: 36px;
    }
}

/* DOCTORS */

.doctorsMain-wraper {
    width: 85%;
    margin: 108px auto 163px auto;
    display: flex;
    flex-direction: column;
    gap: 128px;
}

.doctorstitle-search {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.doctorstitle {
    width: 70%;
}

.doctorstitle h2 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #0D285B;
}
.doctorssearches {
    width: 100%;
    display: flex;
    gap: 16px;
}
.search-doctor {
    width: 100%;
    max-width: 442px;
    background: #EAEFF4;
    border: 2px solid #039ED6;
    border-radius: 36px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.choose-department {
    width: 100%;
    max-width: 442px;
    background: #EAEFF4;
    border: 2px solid #039ED6;
    border-radius: 36px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-department select {
    cursor: pointer;
    width: 100%;
    padding: 20px;
    width: 100%;
    border: none;

    font-family: 'Gilroy-Light';
    font-size: 20px;
    color: rgba(58, 83, 129, 0.8);

    appearance: none;
}

.choose-department select:focus {
    width: 100%;
    border: none;
    outline: none;
}

.search-doctor input {
    width: 100%;
    padding: 20px;
    width: 100%;
    border: none;

    font-family: 'Gilroy-Light';
    font-size: 20px;
    color: rgba(58, 83, 129, 0.8);
}

.search-doctor input:focus {
    width: 100%;
    border: none;
    outline: none;
}
.doctorsbutton {
    padding: 0 20px;
}
.doctorsbutton button {
    cursor: pointer;
}

.search-doctor input::placeholder {
    font-family: 'Gilroy-Light';
    font-size: 20px;
    color: rgba(58, 83, 129, 0.8);

}

.doctors-wraper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 40px;
    margin-top: 52px;
}

.doctors-info {
    width: 100%;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.doctors img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.doctors-info h4 {
    font-family: 'Gilroy-SemiBold';
    font-size: 20px;
    color: rgba(13, 40, 91, 0.9);
}
.doctors-info p {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color: #3C5481;

}
.doctors-info button {
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #039ED6;
    padding: 12px 0;
    border-radius: 24px;
    color: #FFFFFF;
    transition: 0.3s;

    background-size: 300% 100%;

    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.doctors-info button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.doctors-info button:focus {
    outline: none;
}

@media (max-width: 1430px) {
    .doctors-wraper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
 
@media (max-width: 1024px) {
    .doctorstitle h2 {
       text-align: center;
    }
    .choose-department select {
        padding: 16px;
    }
    .choose-department option {
        padding: 16px;
    }
    .search-doctor input {
        padding: 16px;
    }
    .doctors-wraper {
        width: 80%;
        grid-template-columns: 1fr 1fr;
        margin: 52px auto auto auto;
    }
    .doctorssearches {
        flex-direction: column;
    }
    .choose-department {
        width: 100%;
        max-width: none;
    }
    .doctorstitle-search {
        flex-direction: column;
        gap: 28px;
    }
    .search-doctor  {
        max-width: none;
    }
    .doctors-wraper {
        width: 90%;
        grid-template-columns: 1fr;
        margin: 52px auto auto auto;
    }
}

@media  (max-width: 720px) {
    .doctorsMain-wraper {
        gap: 40px;
    }
    .doctorstitle h2 {
        font-size: 36px;
    }
    .choose-department select {
        padding: 12px;
        font-size: 16px;
    }
    .search-doctor input {
        padding: 12px;
        font-size: 16px;
    }
    .search-doctor input::placeholder {
        font-size: 16px;  
    }
    .search-doctor svg {
        width: 20px;
    }
}
@media (max-width:580px) {
    .doctors-info {
        padding: 20px 12px;
    }
    .doctors-info h4 {
        font-size: 16px;
    }
    .doctors-info p {
        font-family: 'Gilroy-Medium';
        font-size: 12px;
        color: #3C5481;
    }
    .doctors-info button {
        font-size: 12px;
        padding: 8px 0;
    }
    
}
@media  (max-width: 480px) {
    .doctors-info {
        padding: 20px 8px;
    }
    .doctorstitle h2 {
        font-size: 32px;
    }
    .choose-department select {
        padding: 12px;
        font-size: 12px;
    }
    .search-doctor input {
        padding: 12px;
        font-size: 12px;
    }
    .search-doctor input::placeholder {
        font-size: 12px;  
    }
    .search-doctor svg {
        width: 16px;
    }
}
@media (max-width:392px) {
    .doctors-info button {
        font-size: 12px;
        padding: 8px 0;
    }
    
}

/* CONTACT US */

.contactUsmain-wraper {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 52px;
    margin: 108px auto 288px auto;
}

.contactus-wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 52px;
    margin: auto;
}
.contactus-wraper h2{
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #0D285B;
}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.name-lastname, .mail-phone , .date-datetime{
    display: flex;
    gap: 44px;
}

.name-lastname div, .mail-phone div, .date-datetime div, .message div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.name-lastname input, .mail-phone input, .date-datetime input{
    border: 1px solid rgba(13, 40, 91, 0.4);
    border-radius: 8px;
    width: 100%;
    height: 52px;
    padding: 0 24px 0 16px;
    color: rgb(60, 84, 129);
    
}

.message textarea {
    border: 1px solid rgba(13, 40, 91, 0.4);
    border-radius: 8px;
    width: 100%;
    padding: 15px 24px 0 16px;
    color: rgb(60, 84, 129);
}
.message textarea::placeholder {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: rgba(60, 84, 129, 0.64);
}

.contactus-wraper h4{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;

    color: #3C5481;
}

input::placeholder {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: rgba(60, 84, 129, 0.64);
}

.contactUs-button {
    margin: auto;
}
.contactUs-button button{
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 96px;
    border: 2px solid #039ED6;
    border-radius: 48px;

    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;

    color: #039ED6;
    transition: 0.4s;
}

.contactUs-button button:hover>svg path {
    fill: #FFFFFF;
    background-color: #039ED6;
}




.contactUs-button button:hover {
    color: #FFFFFF;
    background-color: #039ED6;
}

@media (max-width: 900px) {
    .name-lastname, .mail-phone , .date-datetime{
        flex-direction: column;
    }
}
@media (max-width: 720px) {
    .contactus-wraper h2 {
        font-size: 40px;
    }
    .contactus-wraper h4 {
        font-size: 16px;
    }
    input::placeholder {
        font-size: 12px;
    }
    .message textarea::placeholder {
        font-size: 12px;
    }
    .contactUs-button button{
        padding: 12px 76px;
        font-size: 16px;
    }
    .contactUs-button svg {
        width: 16px;
        height: 16px;
    }

}

/* CAREER */

.careerMain-wraper {
    width: 85%;
    margin: 108px auto 163px auto;
}
.careertitle-search {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.careertitle h2 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #0D285B;
}

.search-career {
    width: 100%;
    max-width: 554px;
    background: #EAEFF4;
    border: 2px solid #039ED6;
    border-radius: 36px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-career input {
    width: 100%;
    padding: 20px;
    width: 100%;
    border: none;

    font-family: 'Gilroy-Light';
    font-size: 20px;
    color: rgba(58, 83, 129, 0.8);
}

.search-career input:focus {
    width: 100%;
    border: none;
    outline: none;
}
.careerbutton {
    padding: 0 20px;
}

.careerbutton button {
    cursor: pointer;
}

.search-career input::placeholder {
    font-family: 'Gilroy-Light';
    font-size: 20px;
    color: rgba(58, 83, 129, 0.8);

}

.career-list {
    width: 80%;
    margin: 140px auto auto auto;

    display: flex;
    flex-direction: column;
    gap: 64px;
}
.careerlist {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.careerlist-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.careerline {
    width: 100%;
    border: 2px solid #0D285B;
    background-color: #0D285B;
}

.careerlist-info p{
    font-family: 'Gilroy-Medium';
    font-size: 24px;
    color: #0D285B;

}

.careerlist-info button {
    cursor: pointer;

    background: #0C2D6C;
    border-radius: 12px;
    font-family: 'Gilroy-SemiBold';

    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;

    padding: 16px 40px;
    
    position: relative;
    z-index: 0;
}
.careerlist-info button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.careerlist-info button:active {
    color: #000
}

.careerlist-info button:active:after {
    background: transparent;
}

.careerlist-info button:hover:before {
    opacity: 1;
}

.careerlist-info button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0C2D6C;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media (max-width: 1500px) {
    .search-career {
        max-width: 490px;
    }
    .careertitle h2 {
        font-size: 40px;
    }
    .search-career input{
        font-size: 16px;
    }
    .search-career input::placeholder {
        font-size: 16px;  
    }
}

@media (max-width: 1265px) {
    .careertitle-search {
        flex-direction: column;
        gap: 28px;
    }
    .search-career {
        width: 100%;
        max-width: 80%;
    }
}
@media (max-width: 1024px) {
    .career-list {
        margin: 120px auto auto auto;
    }
    .careertitle-search {
        gap: 32px;
    }
    .careertitle-search h2{
        text-align: center;
    }
}

@media (max-width:800px){
    .careerlist-info p{
        font-size: 20px; 
    }
    
    .careerlist-info button {
        font-size: 18px;
        padding: 12px 36px;
        
    }
}

@media (max-width: 670px) {
    .careerlist {
        gap: 16px;
    }

    .careerlist-info p{
        font-size: 16px; 
        max-width: 154px;
    }
    
    .careerlist-info button {
        font-size: 14px;
        padding: 8px 32px;
        
    }
    .career-list {
        margin: 104px auto auto auto;
    }
    .careertitle-search {
        align-items: center;
        gap: 32px;
    }
    .careertitle-search h2{
        font-size: 32px;
    }
    .search-career input {
        padding: 16px;
        font-size: 12px;
    }
    .search-career svg {
        width: 16px;
    }
    .search-career input::placeholder {
        font-size: 12px;  
    }
}
@media (max-width: 540px) {
    .careertitle-search h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .search-career input {
        padding: 12px;
        font-size: 12px;
    }
    .search-career svg {
        width: 16px;
    }
    .search-career input::placeholder {
        font-size: 12px;  
    }
}


@media (max-width: 430px) {

    .careerlist {
        gap: 16px;
    }

    .careerlist-info p{
        font-size: 12px; 
        max-width: 121px;
    }
    
    .careerlist-info button {
        font-size: 10px;
        padding: 6px 28px;
        
    }
    .careerline {
        width: 100%;
        border: 1px solid #0D285B;
        background-color: #0D285B;
    }
}

/* CAREER DEPARTMENT*/

#popBlur {
    position: absolute;
    top: 78px;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(3, 158, 214, 0.5);
    z-index: 20;
    opacity: 0;
    backdrop-filter: blur(77px);
    pointer-events: none;
    user-select: none;

    transition: opacity 0.5s ease-in-out;
}

.careerDepMainWraper {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 120px 0;
}

.careerDepMainWraper h2{
    font-family: 'Gilroy-SemiBold';
    font-size: 40px;

    color: #0D285B;
}

.careerDepMainWraper p {
    font-family: 'Arial-GEO';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #061A40;
}
.careerapply-button {
    margin: auto;
}
.careerapply{
    cursor: pointer;

    background: #0C2D6C;
    border-radius: 12px;
    font-family: 'Gilroy-SemiBold';

    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;

    padding: 16px 40px;
    
    position: relative;
    z-index: 0;
}
.careerapply:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.careerapply:active:after {
    background: transparent;
}

.careerapply:hover:before {
    opacity: 1;
}

.careerapply:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0C2D6C;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* POP UP */

.popUp {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 44px;

    position: absolute;
    top: -200%;
    left: 50%;
    z-index: 20;

    transform: translate(-50%, -50%);

    background: rgba(255, 255, 255, 1);
    border-radius: 24px;

    transition: all 0.5s ease-in-out;

}


.popUp-inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.popUp-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popUp-Title h2 {
    font-family: 'Gilroy-SemiBold';
    font-size: 40px;
    color: #0D285B;
}

.popUp-Title button {
    cursor: pointer;
}
.popUp-Title button svg {
    display: flex;
    padding-top: 5px;
}

.careerinput-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.careerinput-div p {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3C5481;
}

.careerinput-div input {
    width: 100%;
    border: 1px solid rgba(13, 40, 91, 0.4);
    border-radius: 8px;
    padding: 16px;

    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-size: 16px;

    color: rgba(60, 84, 129, 0.64);
}

.careerinput-div input::placeholder {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    color: rgba(60, 84, 129, 0.64);

}
.careercheckboxs-div {
    display: flex;
    align-items: center;
    gap: 24px;
}
.careercheckbox-div label {
    display: flex;
    gap: 8px;
    align-items: center;

    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    color: rgba(60, 84, 129, 0.9);
}
.careercheckbox-input {
    cursor: pointer;
}

.careerinputs-button {
    margin: auto;
}
.careerinputs-button button{
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 96px;
    border: 2px solid #039ED6;
    border-radius: 48px;

    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;

    color: #039ED6;
    transition: 0.4s;
}

.careerinputs-button button:hover>svg path {
    fill: #FFFFFF;
    background-color: #039ED6;
}




.careerinputs-button button:hover {
    color: #FFFFFF;
    background-color: #039ED6;
}

@media (max-width: 1024px) {
    .popUp {
        width: 80%;
        transform: translate(-50%, -28%);
    }
}

@media (max-width: 720px) {
    .popUp-Title h2 {
        font-size: 28px;
    }
    .popUp-Title svg {
        width: 16px;
    }
    .careerinput-div p {
        font-size: 16px;
    }
    .popUp-inputs input {
        font-size: 14px;
    }
    .popUp-inputs input::placeholder{
        font-size: 16px;
    }

    .careerinputs-button button {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 14px 72px;
        font-size: 16px;
    }
    .popUp-Title svg {
        width: 16px;
    }
}

@media (max-width: 580px) {
    .popUp {
        transform: translate(-50%, 12%);
    }
    .popUp-inputs input {
        padding: 12px;
    }
    .popUp-inputs input::placeholder{
        font-size: 14px;
    } 
}

/* DIRECTOR PAGE */

.directormainWraper {   
    width: 85%;
    display: flex;
    gap: 52px;
    margin: 116px auto;
}

.directormainWraper img {
    width: 100%;
}

.directorinfo {
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.directorinfo p {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    word-spacing: 2px;
    line-height: 19px;
    color: #3C5481;
}
.directorabout {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.directorabout p {
    max-width: 662px;
}
.directortitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.directortitle svg path {
    transition: all 0.3s ease-in-out;
}
.directortitle svg:hover > path {
    fill: #039ED6;
}
.directorname-pos {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.directorname-pos h1 {
    font-family: 'Gilroy-SemiBold';
    font-size: 48px;
    color: rgba(13, 40, 91, 0.9);
}

.directorname-pos h4 {   
    font-family: 'Gilroy-Medium';
    font-size: 24px;
    color: #3C5481;
}

.directorexperience {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.directorexperience p {
    max-width: 558px;
}
.directorexperience h2 {
    font-family: 'Gilroy-SemiBold';
    font-size: 32px;
    line-height: 38px;

    color: rgba(13, 40, 91, 0.9);
}
.directorexperience h2:before {
    content: '';
    display: flex;
    border: 1px solid #253D6B;
    width: 100%;
    margin-bottom: 24px;
}

.directorexperience-about {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
@media (max-width: 1366px) {
    .directormainWraper {
        flex-direction: column;
    }
    .directormainWraper img {
       margin: auto;
    }
    .dali-image {
        margin: auto;
    }
    .directorinfo {
        margin: auto;
    }
    .directorexperience h2:before {
        max-width: 700px;;
    }
    
}

@media (max-width: 520px) {
    .directorname-pos h1 {
        font-size: 36px;
    }
    .directorname-pos h4 {   
        font-size: 20px;
    }
}

/* FOOTER */


footer {
    background-color: #061A40;
}

.footer-mainWraper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 60px 0;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 68px;
}

.logo-name {
    display: flex;
    gap: 24px;
    align-items: center;
}

.logo-name span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    
    display: flex;
    align-items: center;
    gap: 12px;
    padding-right: 12px;
}


.logo-name p {
    display: flex;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-locationAndcall {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.footer-location a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-location p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #EBEBEB;
}


.footer-call p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #EBEBEB;
}

.footer-call a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-social {
    display: flex;
    gap: 24px;
}

.footer-location {
    display: flex;
}

.footer-call {
    display: flex;
}

.footer-contact a {
    display: flex;
}


.footer-left a svg path {
    transition: 0.4s;
}

.footer-left a p {
    transition: 0.4s;
}

.footer-location a:hover>svg path {
    fill: #099ed0
}

.footer-location a:hover>p {
    color: #099ed0
}

.footer-call a:hover>svg path {
    fill: #099ed0
}

.footer-call a:hover>p {
    color: #099ed0
}


/* FOOTER RIGHT */

.footer-right {
    display: flex;
    gap: 56px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.footer-right h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}

.footer-right ul {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.footer-right ul li a {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.4s;
}

/* COPYRIGHT  */
.copyright-footer {
    display: flex;
    background-color: #04122E;
    width: 100%;
    padding: 22px 0;
    gap: 12px;
    justify-content: center;
    align-items: center;

}
.copyright-footer p {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);

}


@media (max-width: 1160px) {
    .footer-left {
        gap: 68px;
    }

    .logo-name {
        gap: 24px;
        text-align: center;
        line-height: 25px;
    }

    .logo-name span {
        font-size: 16px;
        word-spacing: 8px;
    }

    .logo-name p {
        font-size: 16px;
    }

    .logo-name img {
        width: 64px;
    }

    .footer-contact {
        gap: 36px;
    }

    .footer-locationAndcall {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .footer-location svg {
        width: 28px;
    }

    .footer-call svg {
        width: 16px;
    }

    .footer-location a {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .footer-location p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #EBEBEB;
    }


    .footer-call p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #EBEBEB;
    }

    .footer-call a {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .footer-social {
        gap: 12px;
    }

    .footer-social svg {
        width: 36px;
    }

    .footer-right {
        display: flex;
        gap: 36px;
    }

    .footer-nav {
        gap: 20px;
    }

    .footer-right h2 {
        font-size: 20px;
    }

    .footer-right ul {
        gap: 8px
    }

    .footer-right ul li a {
        font-size: 16px;
    }

    .copyright-footer {
        gap: 8px;       
    }
    .copyright-footer p {
        font-size: 16px;   
    }
}

@media (max-width:900px) {
    .logo-name {
        flex-direction: column;
    }
    .footer-mainWraper {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .footer-left {
        gap: 40px;
    }

    .footer-location {
        display: flex;
        justify-content: center;
    }

    .footer-call {
        display: flex;
        justify-content: center;
    }

    .footer-social {
        display: flex;
        justify-content: center
    }
}

@media (max-width: 400px) {
    .logo-name p, .logo-name span {
        font-size: 14px;
    }
}